@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#posts {
  margin-top: 20px;
}

.post {
  background: #eee;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}

.post-buttons {
  margin-top: 5px;
}

.post-buttons button {
  margin-right: 5px;
  background-color: #d33;
}

a {
  color: #0077cc;
  text-decoration: none;
}

#userName {
  text-align: start;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.posts {
  width: 100%;
  background: #d5cbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;

  border-radius: 4px;
}

#svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;

  border-radius: 100%;
  text-align: center;
}

#logoutBtn {
  width: 45%;
  background-color: #f60101;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

#contentDiv {
  display: flex;
  flex-direction: column;
  align-items: start;

}

#author {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

#authorName {
  text-align: start;
  font-weight: bold;
  color: #f60101;
  text-transform: uppercase;

}

.popup-container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.buttons-container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
